.about {
  margin-top: 90px;
}
.about .about-image {
  text-align: center;
  margin-bottom: 25px;
}
.about img {
  border-radius: 150px;
}
.about-description p {
  font-size: 28px;
  margin-bottom: 20px;
}
