.comic {
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;
}
.comic p:nth-child(2) {
  margin-top: 50px;
}
.comic .gatsby-resp-image-wrapper {
  margin: 0 auto !important;
}

.comic .comic__header {
  margin-bottom: 20px;
}
.comic .comic__navigation {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: top;
}
.comic .comic__header__text {
  display: inline-block;
  margin: 0 25px;
}
.comic .comic__title {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 15px;
  vertical-align: middle;
}
.comic .comic__date {
  font-size: 1.25em;
  vertical-align: middle;
}
.comic .comic__navigation .btn {
  margin-right: 10px;
}

.comic .comic__image img {
  width: 100%;
}
.comic .comic__description {
  font-size: 1.25em;
  margin-top: 25px;
  margin-bottom: 50px;
  line-height: 2;
}
.comics .comics-list {
  margin-top: 25px;
}
