body {
  min-height: calc(100vh);
  background: linear-gradient(to top, #e9e9fb, white 15%, white);
}

.home-page {
  margin-top: 60px;
  margin-bottom: 100px;
}

@keyframes color {
  0%   { background: #e2fdfd; }
  20%  { background: #e8fde2; }
  60%  { background: #e2e3fd; }
  100% { background: #e2fdfd; }
}
.home-section {
  /*margin-top: 25px;*/
  /*margin-bottom: 25px;*/
  background: #e2fdfd; /* Fallback */
  animation: color 10s infinite linear;
  text-align: center;
  margin: 15px 0 25px 0;
  padding: 35px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.home-page h1 {
  margin-bottom: 25px;
}

.home-page .featured-comic {
  margin-bottom: 25px;
}
.home-page .featured-comic .img {
  width: 100% !important;
}

/* EXAMPLE STYLE */
.layered-shadow {
  box-shadow: 0 5px 5px rgba(240,240,240,0.7), 
              0 10px 10px rgba(240,240,240,0.7), 
              0 20px 20px rgba(240,240,240,0.7);
  transition: box-shadow 0.5s ease-in-out;
}
.layered-shadow:hover {
  box-shadow: 0 10px 10px rgba(240,240,240,0.7), 
              0 20px 20px rgba(240,240,240,0.7), 
              0 40px 40px rgba(240,240,240,0.7);
}


/* If Comic */
.home-page .featured-music {
  text-align: center;
}
.home-page .featured-music img {
  margin-top: 15px;
  width: 70%;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.1), 
              20px 20px 10px rgba(0,0,0,0.1),
              20px 0 20px rgba(0,0,0,0.1);
}
.home-page .featured-music img:hover {
  transform: rotateY(10deg);
}

p {
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}

h3 {
  text-align: center;
}
.home-page {
  text-align: center;
}
@media (min-width: 768px) {
  .home-page {
    text-align: left;
  }
}

.navbar {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
