@import url('https://fonts.googleapis.com/css?family=Raleway|Lora|Cinzel');

body {
  font-family: 'Raleway', serif;
}

/*.page {*/
  /*margin-top: 40px;*/
/*}*/

/* Override Bootstrap */
.navbar-fixed-top {
  border-width: 0;
}
.navbar-default {
  background: #cedaf4;
  border: none;
  margin-bottom: 25px;
  color: black;
}
.navbar-default .fa {
  margin-right: 8px;
}

.mobile-show {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-show {
    display: inline;
  }
}
