@import url('https://fonts.googleapis.com/css?family=Raleway|Lora|Cinzel');

body {
  font-family: 'Raleway', serif;

  --blob-a-x: 55%;
  --blob-a-y: 15%;
  --blob-b-x: 101%;
  --blob-b-y: 3%;
  --blob-c-x: 94%;
  --blob-c-y: 113%;
  --blob-d-x: 10%;
  --blob-d-y: 70%;
  --blob-e-x: 0%;
  --blob-e-y: 0%;
}

/*.page {*/
  /*margin-top: 40px;*/
/*}*/

/* Override Bootstrap */
.navbar-fixed-top {
  border-width: 0;
}
.navbar-default {
  background: #cedaf4;
  border: none;
  margin-bottom: 25px;
  color: black;
}
.navbar-default .fa {
  margin-right: 8px;
}

.mobile-show {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-show {
    display: inline;
  }
}
